<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minami.gall1.mapper.GallMapper">

    <select id="selGallInfoById" resultType="GallVo">
        select A.id, A.name, B.name category, A.type_id typeId,
            A.intro, A.admin, A.sub_admin subAdmin, A.created_at createdAt, A.image
        from gall_list A
        inner join gall_category B
        on A.category_id = B.id
        where A.id = #{id}
    </select>

</mapper>