<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nottodolisttest.monthlyGoal.MonthlyGoalMapper">

    <insert id="insMonthlyGoal" useGeneratedKeys="true" keyProperty="goalId">
        insert t_monthly_goal
        set member_id = #{memberId},
            not_todo_id = #{notTodoId},
            cost_category = #{costCategory},
            goal_cost = #{goalCost},
            save_cost = #{goalCost},
            start_date = #{startDate}
    </insert>

    <update id="updMonthlyGoal">
        update t_monthly_goal
        set cost_category = #{costCategory},
            goal_cost = #{goalCost},
            save_cost = #{goalCost},
            not_todo_id = #{notTodoId}
        where goal_id = #{goalId}
    </update>

    <update id="updSaveCost">
        update t_monthly_goal
        set save_cost = save_cost - #{useCost}
        where goal_id = #{goalId}
    </update>

    <insert id="insNotTodo">
        <selectKey order="AFTER" resultType="int" keyProperty="notTodoId">
            select not_todo_id
            from t_not_todo
            where name = #{name}
        </selectKey>

        insert ignore t_not_todo
        set name = #{name}
    </insert>

    <select id="selTodayGoal">
        select C.use_list_id useListId, A.goal_id goalId, B.name notTodo,
        format(A.goal_cost, 0) goalCost, format(sum(C.use_cost), 0) useCostSum, A.month_year monthYear
        from t_monthly_goal A
        inner join t_not_todo B
        on A.not_todo_id = B.not_todo_id
        inner join t_use_list C
        on A.goal_id = C.goal_id
        where A.month_year = date_format(curdate(), '%Y-%m')
        group by A.goal_id
    </select>

    <select id="selMonthlyGoalByMemberId">
        select A.goal_id goalId, A.start_date startDate, B.name notTodo,
        A.cost_category costCategoryId, format(A.goal_cost, 0) goalCost
        from t_monthly_goal A
        inner join t_not_todo B
        on A.not_todo_id = B.not_todo_id
        where member_id = #{memberId}
        order by A.goal_id desc
    </select>

    <delete id="delMonthlyGoal">
        delete from t_monthly_goal
        where goal_id = #{goalId}
    </delete>

    <select id="selMaxSaveMoney">
        select date_format(start_date, '%Y-%m') yearMonth,
            format(sum(save_cost), 0) maxSaveCost, sum(save_cost) cost
        from t_monthly_goal
        where cost_category = 1 and member_id = #{memberId}
        group by yearMonth
        order by cost desc
        limit 1
    </select>

    <select id="selMaxSaveTime">
        select date_format(start_date, '%Y-%m') yearMonth,
            format(sum(save_cost), 0) maxSaveCost, sum(save_cost) cost
        from t_monthly_goal
        where cost_category = 2 and member_id = #{memberId}
        group by yearMonth
        order by cost desc
        limit 1
    </select>

    <select id="selSumSaveMoney">
        select sum(save_cost)
        from t_monthly_goal
        where cost_category = 1 and member_id = #{memberId}
        and date_format(start_date, '%Y-%m') between #{startMonth} and #{endMonth}
    </select>

    <select id="selSumSaveTime">
        select sum(save_cost)
        from t_monthly_goal
        where cost_category = 2 and member_id = #{memberId}
        and date_format(start_date, '%Y-%m') between #{startMonth} and #{endMonth}
    </select>

</mapper>